<footer class="section--footer">
  <div class="container container--content">
    <div>
      <a href="{{ site.baseurl }}/humans.txt">feito à mão</a> por <a href="{{ site.baseurl }}/about/">Dian Di Grazia</a>
    </div>
    <ul class="socialAccountList">
      <li><a href="http://facebook.com/{{ site.author.facebook }}" class="socialAccount socialAccount--facebook" target="_blank"></a></li>
      <li><a href="http://instagram.com/{{ site.author.instagram }}" class="socialAccount socialAccount--instagram" target="_blank"></a></li>
      <li><a href="http://www.linkedin.com/in/{{ site.author.linkedin }}" class="socialAccount socialAccount--linkedin" target="_blank"></a></li>
    </ul>
    <div>
      © 2019 Todos os direitos reservados.
    </div>
    <div>
      Tema base por <a href="http://github.com/vincentchan" target="_blank">@VincentChan</a>.
    </div>
  </div>
</footer>
