---
layout: default
title: Sobre Dian Di Grazia
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="../assets/images/hero/dian-sorrisao.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Dian Di Grazia</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              foco na missão.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>quem sou eu</h4>
        <p class="justi">Graduando em Sistemas de Informação pela UFLA, com atual foco profissional no desenvolvimento de lean startup e produtos digitais. É fotógrafo freelancer, coordenador local do SFLB e presidente do CASI. Possui experiência em desenvolvimento web, metodologias ágeis, mapeamento e otimização de processos, customer success e definição de KPI’s. Já iniciou e pivotou 3 startups mas não desiste de encaixar no mundo algo que faça a vida das pessoas melhor, através do empreendedorismo. Gosta de atuar unindo gente boa em times onde pode agregar o conhecimento como "dev" e a visão de negócio.</p>
        <h4>meu lema</h4>
        <p class="u--startsWithDoubleQuote">“No que diz respeito ao <b>empenho</b>, ao <b>compromisso</b>, ao <b>esforço</b>, à <b>dedicação</b>, não existe meio termo. Ou você faz uma coisa <b>bem feita</b> ou não faz.” - <b>Ayrton Senna</b></p>
        <h4>referências</h4>
        <ul>
          <li><b>estilo de vida:</b> Joshua Fields Millburn e Ryan Nicodemus.</li>
          <li><b>dev. pessoal:</b> Ayrton Senna, Napoleon Hill, Steve Pavlina e Charles Duhigg.</li>
          <li><b>profissional:</b> Flávio Augusto, Steve Jobs e Simon Sinek.</li>
          <li><b>financeiro:</b> Warren Buffett e Gustavo Cerbasi.</li>
          <li><b>poĺítico:</b> Ludwig von Mises e Friedrich Hayek.</li>
          <li><b>social:</b> Eduardo Lyra.</li>
          <li><b>espiritual:</b> Buda.</li>
        </ul>
        <!-- <h4>empresas favoritas</h4>
        <p>
          Warren, Elliot, QuintoAndar, Airbnb, Reserva, Github, Ambev, Nubank e Stone Co.
        </p> -->
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
